.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
.idea/
*.iml
ios/Pods/
**/ios/Pods/
**/.dart_tool/
**/.flutter-plugins
**/.flutter-plugins-dependencies
**/.packages
**/.pub/
**/build/
**/.metadata
packages/*/pubspec.lock
.env
.env.*
!.env.example
.DS_Store
prd.txt